<body>
   
    <div class="bar">
        <img src="../assets/image/angularlogo.png" style="width: 50px;">
        <a>Caption by KumMee</a>
    </div>

    <div class="container">

        <img [src]="imgSrc">
        <div *ngIf="title">{{ count }} : {{ title }}</div>
        <button [disabled]="!title" class="btn btn-primary" (click)="handleClickButton()">Next Caption</button>
        <button [disabled]="!title" class="btn btn-primary" (click)="handleClickDeButton()">Next Caption and
            Delete</button>
    </div>

    <div class="container">
        <ul>
            <li *ngFor="let msg of captionList">{{ msg.message }}</li>
        </ul>
    </div>
</body>